<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EOES主页</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
    #banner {
    width:100%;
    height:480px;
    object-fit:cover;
    }</style>
</head>
<body>
    {% include "nav.html" %}
    <img class="img-fluid" id="banner" src="static/00010.png">
    <div class="container">
        <div>
            <h2 class="text-center mt-4 mb-6" style="color:#40128B">Introduction</h2>
            <p class="lead">队友们出去逛街了，莞儿一人在宿舍做家务。

                下午回到宿舍，米诺脸色却很不好看，一巴掌扇在了莞儿的脸上：“饭呢?饭呢?你洗个我们的衣服都要花5分钟?我们都饿了!饿了!”

                “对不起...马上就好了，马上...”莞儿流着泪，一边抽着鼻涕，一边加快速度干活。这时，露早进了宿舍门，发现饭还没有好，她直接朝着莞儿走来。

                "汪汪殿下...”啪!莞儿话都没有说完,便被露早扇了一个重重的巴掌。"你这个洗脚婢怎么叫我的?叫我汪汪队长，听到了吗?”之后两人对莞儿便是一顿饱打，昨天莞儿好不容易才愈合的伤口又渗出了无数朵血花。

                夜晚。莞儿服侍虞莫,给虞莫洗脚。"我超，痛痛痛，你怎么洗的?又按到我脚上的伤口了!"虞莫忍不了了，一脚把莞儿踹翻在地，然后把脚狠狠地踩在莞儿的脸上，直至莞儿无法呼吸差点晕死过去。

                “求求你，虞莫...放过我吧，我好痛，我好痛啊...”莞儿的求饶加剧了虞莫的兽性，正当虞莫准备向往常一样毒打一顿莞儿时，门开了,是柚恩。

                “虞莫，够了吧，不用这样吧，只需要换其他的小惩罚就行了吧。”莞儿的眼睛似乎有了一丝亮光。"对了，莞儿，你是我们的狗狗吗?”柚恩突然问道。“是的...莞儿是大家的狗...狗狗我会很忠诚的.….”莞儿一边流着泪，一边回答。

                “那好，狗狗为什么需要穿衣服呢?明天你一天就不用穿衣服了吧，但明天晚上的团播你要照常到动捕室来哦，因为我们EOE是最温暖的五人小家庭呢，不准穿衣服哦，狗狗。”

                柚恩的声音还像是平常一样温柔，莞儿却呆滞了,她不想再动了，她很希望这只是一场噩梦，哪怕她已经醒不来了。

                如果有哪个平行世界，队友们能对莞儿稍微温柔一点的话，莞儿我会很感激的.......

                深夜。莞儿有了一个逃跑计划，她再也不想待在这里了，她第一次决定反抗!。她观察了一会，认为队友已经睡着了，便偷偷下楼，翻过围墙，打算向山林里靠拢，哪怕是流浪，也要开始新的生活！

                这时，在莞儿的背后，四只手伸了出来，两只环住了她的脖子，两只搭在了她的肩膀上......

                此后，再也没有人见过唐莞儿了。 作者：沉沦焰之露</p>
            <div>
                {% for i in info%}
                <div>
                    {{i["member"]}}{{i["time"]}}<b>标题: </b>{{i["title"]}}
                </div>
                {% endfor %}
            </div>
            <div class="text-center mt-2 mb-4">
                <button class="btn btn-outline-success">join us!</button>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
</body>
</html>